<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58433086172-468ongvh8o1tfglrab217p88dfk4be5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58433086172-468ongvh8o1tfglrab217p88dfk4be5s</string>
	<key>API_KEY</key>
	<string>AIzaSyAop-Nie_TlGJNS4IIS2CFHNM_ewEV-R5k</string>
	<key>GCM_SENDER_ID</key>
	<string>58433086172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>authWithPhone.AuthWithPhone</string>
	<key>PROJECT_ID</key>
	<string>authappphone</string>
	<key>STORAGE_BUCKET</key>
	<string>authappphone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58433086172:ios:f4d0dc06c75e88c5ca8a19</string>
</dict>
</plist>